#
# Temp files.
#

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

#
# Temp folders.
#

pids/
logs/
results/
coverage/

#
# Node.js.
#

node_modules/
npm-debug.log

#
# Ide folders.
#
.idea/

#
# OS X.
#

.DS_Store